<!-- <router-outlet>
</router-outlet> -->

<!-- {{msg}}
<p>{{number| custom}}</p>
<p>{{title | uppercase}}</p>
<p>{{number | currency}}</p>
<p>{{time| date}}</p>
<p>{{time | date: "hh:mm:ss"}}</p>
<p>{{time | date:"fullDate"}}</p> -->
<!-- <app-child [childData]="parentMsg"></app-child> -->

<!-- <app-child (child)="cdata($event)"></app-child> -->

<!-- <div>city : <input type="text" [(ngModel)]="location">

  </div>
  {{location}}
 <div><button (click)="update()">update</button></div>  -->

 <!-- <input type="text" [(ngModel)]="location" />
 {{location}}
<p><button (click)="update()">update</button></p> -->

<app-child [ch]="parentmsg"></app-child>
<app-child (custom)="cdata($event)"></app-child>

<h1>{{"greetings" | translate}}</h1>

<app-test1></app-test1>